<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <div class="loginform">
            <h1>Sign Up</h1>
            <form>
                <input type="text" placeholder="Enter your username"><br><br>
                <input type="password" placeholder="Enter password"><br><br>
                <p>Forgotten Password <a href="#">Click here</a></p>
                <button type="button">Submit</button><br><br>
                <button type="button">Sign in</button><br><br>

            </form>

        </div>
    </div>
</body>
</html>